---
import "@/styles/hero.css";
import { Image } from "astro:assets";
import { map, split } from "remeda";
import { m } from "@/paraglide/messages";
import HeroCloud from "./HeroCloud";
---

<div
  id="hero"
  class="mx-auto mt-6 flex max-w-6xl flex-col items-center justify-between gap-2 px-6 duration-500 md:flex-row md:items-start md:gap-8"
>
  <div
    class="glassmain"
    data-aos="fade-right"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="px-6 pt-10">
      <h1
        class="text-4xl font-normal uppercase text-primary-100-200 md:text-5xl xl:text-6xl"
      >
        {m.home_hero_title()}
      </h1>
      <p class="mt-2 text-xl md:text-2xl">
        {m.home_hero_description()}
      </p>
      <p class="mt-6">
        {m.home_hero_details()}
      </p>
    </div>
    <div class="flex-1"></div>
    <p class="px-6 pb-10 text-3xl uppercase md:text-5xl">Glass Processing</p>
  </div>
  <div
    class="relative size-full max-w-[500px] md:mt-8 md:aspect-[3/4]"
    data-aos="fade-left"
    data-aos-anchor-placement="top-bottom"
  >
    <Image
      alt="HeroImage"
      src="/hero.webp"
      class="absolute inset-x-0 -z-50"
      width={905}
      height={1200}
      loading="eager"
    />
    <HeroCloud client:load />
    <div class="flex h-full flex-col p-6 md:py-20">
      <div class="flex-1"></div>
      <div class="mb-20 text-xl font-light uppercase md:text-2xl xl:text-3xl">
        {map(split(m.home_hero_slogan(), " "), (e) => <p>{e}</p>)}
      </div>
      <h2 class="text-4xl font-normal text-primary-100 drop-shadow-lg">
        {m.home_hero_mission_title()}
      </h2>
      <p>
        {m.home_hero_mission_description()}
      </p>
    </div>
  </div>
</div>
