---
import { aggregate, readItems } from "@directus/sdk";
import { firstBy, identity, map } from "remeda";
import ProjectCard from "@/components/projects/ProjectCard.astro";
import Pagination from "@/components/ui/Pagination.astro";
import Layout from "@/layouts/Layout.astro";
import { m } from "@/paraglide/messages";
import directus from "@/utils/cms";

const perPage = 24;
const page = firstBy([1, Number(Astro.url.searchParams.get("page"))], [identity(), "desc"]);
const offset = (page - 1) * perPage;

const projects = await directus.request(
  readItems("skloresurs_projects", {
    limit: perPage,
    offset,
    sort: ["-year"],
    fields: ["id"],
  }),
);

const totalReq = await directus.request(
  aggregate("skloresurs_projects", {
    aggregate: {
      count: "*",
    },
  }),
);

const total = Number(totalReq[0].count);
---

<Layout
  title={m.meta_projects_title()}
  description={m.meta_projects_description()}
>
  <div class="mx-auto max-w-6xl px-5">
    <h1 class="mb-5 text-center">{m.meta_projects_title()}</h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
      {map(projects, (project) => <ProjectCard id={project.id} />)}
    </div>
    <Pagination total={total} perPage={perPage} />
  </div>
</Layout>
